.signIn{
    width: 100vw;
    height: 100vh;
    background: #bdc3c7; 
    background: -webkit-linear-gradient(to bottom, #f7f8fa, #aab1b6);
    background: linear-gradient(to bottom, #ffffff, #adb5ba);
    display: flex;
    overflow: auto;
   

    .wrapper-1{
        padding: 20px;
       
      
        .topbar-2{
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      

        h1{
        font-size: 50px;
        font-weight: 700;
        margin-left: 4%;
        margin-top: 1%;
        font-family: 'Dosis', sans-serif;
        color: rgb(227, 123, 85);
         
        
        
    }

        }
        
    
    .container{
        display: flex;
        width: 100%;
        margin-top: 20px;

        .left{
            flex: 0.5;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            
            

            span{
                
                font-size: 25px;
                margin-left: 50px;
                margin-bottom: 15px;
                font-family: 'Playfair Display', serif;
            }
        }
       .right{
            flex: 0.5;
            display: flex;

            .form-container{
                height: 450px;
                width: 100%;
                background-color: rgb(207, 204, 204);
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: space-evenly;
                border-radius: 20px;
                border: 1px solid #54a0f1;
                border-top: 10px solid #54a0f1;
               
              
               h3{
                   text-align: center;
                   font-family: 'Playfair Display', serif;
                   font-size: 30px;
               }
               span{
                   text-align: center;
                   font-family: 'Playfair Display', serif;
                   font-size: 20px;
               }
           }
           .form-container2{
               width: 75%;
               display: flex;
               flex-direction: column;
               align-items: flex-start;
               justify-content: flex-start;

               .form-item{
                   margin-bottom: 15px;
                   display: flex;
                   flex-direction: column;
                   align-items: flex-start;
                   justify-content: flex-start;

                   span{
                       margin-bottom: 10px;
                       font-size: 20px;
                       
                   }

                   input{
                       width: 328px;
                       height: 35px;
                       border: none;
                       background-color: rgb(234, 234, 234);
                       border-radius: 5px;
                       padding: 10px;

                       &:focus{
                           outline: none;
                       }
                   }
               }
              
            
           }
           .btn{
               width: 307px;
               height: 44px;
               border-radius: 10px;
               color: white;
               background-color: #54a0f1;
               cursor: pointer;
               margin-bottom: 10px;

               .createAccount{
                   text-decoration: none;
                   color: white;
               }
 
               &:hover{
                   opacity: 0.7;
               }
           }



       }

    }
       
   
   
}
    
}